<h2>Game over!</h2>
<br>
<% @player = @scores.max_by{|k,v|v}.first.to_s %>

<% if @player == "p1" %>
  <h3>Player 1 Wins!</h3>
<% elsif @player == "p2" %>
  <h3>Player 2 Wins!</h3>
<% elsif @player == "p3" %>
  <h3>Player 3 Wins!</h3>
<% else %>
  <h3>It's a tie, but we don't know why!</h3>
<% end %>
<%= image_tag "http://octodex.github.com/images/Professortocat_v2.png" %>