<% if correct_answer %>
  <h2 class="correct_answer">Oooh, that really tickles my tentacles! Good job!</h2>
  <h3> Here comes the next question... buzzers ready!</h3>
<% else %>
  <h2 class="wrong_answer">{ You => Loser }</h2>
  <h3> Here comes the next question... buzzers ready!</h3>
<% end %>