<% if correct_answer %>
  <h2 class="correct_answer"> Great, you got that one right! Touch my moustache.</h2>
  <h3> Here comes the next question... buzzers ready!</h3>
<% else %>
  <h2 class="wrong_answer"> You got that one wrong. You make Hashstache sad.</h2>
  <h3> Here comes the next question... buzzers ready!</h3>
<% end %>