<% if correct_answer %>
  <h2 class="correct_answer">Oooh, that really tickles my tentacles! Good job!</h2>
  <h3>Are you ready to have some more fun?</h3>
<% else %>
  <h2 class="wrong_answer">No, not there!</h2>
  <h3>Maybe you need a new question...</h3>
<% end %>