<div class="player_container p1_color" id="p1_container">
  Player One Container
  <div class="score_box" id="p1_score">Player 1 Score: <%= !scores.nil? ? scores[:p1] : "Game not started yet"  %></div>
  <div class="name_box" id="p1_name">Player 1 Name</div>
  <div class="key" id="p1_key">Your buzzer key: A</div>
</div>
<div class="player_container p2_color" id="p2_container">
  Player Two Container
  <div class="score_box" id="p2_score">Player 2 Score: <%= !scores.nil? ? scores[:p2] : "Game not started yet"  %></div>
  <div class="name_box" id="p2_name">Player 2 Name</div>
  <div class="key" id="p1_key">Your buzzer key: B</div>
</div>
<div class="player_container p3_color" id="p3_container">
  Player Three Container
  <div class="score_box" id="p3_score">Player 3 Score: <%= !scores.nil? ? scores[:p3] : "Game not started yet"  %></div>
  <div class="name_box" id="p3_name">Player 3 Name</div>
  <div class="key" id="p1_key">Your buzzer key: P</div>
</div>