<nav>
  Nav Bar
  <br>
  <div id="brand_title">Hashstachthecat's HashDash</div>
  <button id="new_game" class="button">Start a New Game</button>
</nav>

<div id="game_window">
  Game Window
  <div id="host_box">
    Host Box

  </div>

  <div id="speech_box">
    <%= render partial: 'questions', locals: {round: @round, question: @question} %>
  </div>
</div>

<div id="score_footer">
 <%= render partial: 'scores', locals: {scores: @scores} %>
</div>