<nav>
  <div id="brand_title">Hashstachtocat's HashDash</div>
  <button id="new_game" class="button">Start</button>
</nav>

<div id="game_window">
  <div id="host_box">
    <%= image_tag "/assets/hashstashthecat.png" %>
  </div>

  <div id="speech_box" class="black_border">
    <%= render partial: 'questions', locals: {round: @round, question: @question} %>
  </div>
</div>

<div id="score_footer">
 <%= render partial: 'scores', locals: {scores: @scores} %>
</div>