<nav>
  <div id="brand_title">Brand</div>
  <div id="new_game">New Game</div>
</nav>

<div id="game_window">
  <div id="host_box">
    <%= image_tag "host_image" %>
  </div>

  <div id="speech_box">
    <span id="question_number"></span>
    <div id="question"></div>
    <div class="answer" id="a1"></div>
    <div class="answer" id="a2"></div>
    <div class="answer" id="a3"></div>
    <div class="answer" id="a4"></div>
  </div>

<div id="score_footer">
  <div class="player_container" id="p1_container">
    <div class="score_box" id="p1_score"></div>
    <div class="name_box" id="p1_name"></div>
    <div class="key" id="p1_key">A</div>
  </div>
  <div class="player_container" id="p2_container">
    <div class="score_box" id="p2_score"></div>
    <div class="name_box" id="p2_name"></div>
    <div class="key" id="p1_key">B</div>
  </div>
  <div class="player_container" id="p3_container">
    <div class="score_box" id="p3_score"></div>
    <div class="name_box" id="p3_name"></div>
    <div class="key" id="p1_key">P</div>
  </div>
</div>