<nav>
  Nav Bar
  <div id="brand_title">Brand</div>
  <button id="new_game" class="button">New Game</button>
</nav>

<div id="game_window">
  Game Window
  <div id="host_box">
    Host Box
    <div id="host">
      <%= image_tag "/assets/hashstashthecat.png" %>
    </div>
  </div>

  <div id="speech_box">
    <%= render partial: 'questions', locals: {round: @round, question: @question} %>
  </div>
</div>

<div id="score_footer">
  Score Box
 <%= render partial: 'scores', locals: {scores: @scores} %>
</div>