#question {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.answer {
  padding:5px 0;
  margin:5px 0;
  width: 500px;
}

.answer:hover {
  color: red;
}

#tip {
  margin: 15px 0;
  padding: 15px 0;
}