#score_footer {
  // border: 4px solid green;
  margin-top: 30px;
  margin-left: 10px;
  width: 100%;
  height: 150px;
}

.player_container {
  height: 150px;
  width: 30%;
  float: left;
  border: 4px solid black;
  margin-left: 10px;
  margin-right: 10px;

}

.score_box{
  font-size: 50px;
  margin: 5px auto;
  text-align: center;

}


.name_box{
  margin: 10px auto;
  text-align: center;

}


.key{
  margin: 20px auto 5px auto;
  text-align: center;
}

.p1_color {
  background-color: red;
}

.p2_color {
  background-color: green;
}

.p3_color {
  background-color: blue;
}
